import unittest
import sailpoint.v2024
import sailpoint.v3
import sailpoint.beta
from sailpoint.v3.models.search import Search
from sailpoint.configuration import Configuration, ConfigurationParams
from sailpoint.paginator import Paginator

class TestPythonSDK(unittest.TestCase):

    configuration = Configuration()
    v3_api_client = sailpoint.v3.ApiClient(configuration)
    beta_api_client = sailpoint.beta.ApiClient(configuration)
    configuration.experimental = True
    v2024_api_client = sailpoint.v2024.ApiClient(configuration)

{{#operations}}
{{#operation}}
    def test_{{operationId}}(self):
        {{#returnType}}api_response = {{/returnType}}{{#asyncio}}await {{/asyncio}}sailpoint.{{apiVersion}}.{{classname}}(self.{{apiVersion}}_api_client).{{{operationId}}}_with_http_info()
        self.assertIsNotNone(api_response.data)
        self.assertEqual(200, api_response.status_code)
  {{/operation}}
{{/operations}}

if __name__ == '__main__':
    unittest.main()