name: Release

on:
  release:
    types: [created]
  workflow_dispatch:

jobs:
  pypi-publish:
    name: upload release to PyPI
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
    steps:
      - name: Checkout branch
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }}  

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
            python-version: '3.x'
      - name: Install build package
        id: requirements
        run: |
          python -m pip install --upgrade build

      - name: Build test package
        id: build
        if: steps.requirements.outcome == 'success'
        run: |
          python -m build

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1